body,
html {
    font-family: "Atkinson Hyperlegible", sans-serif;
    text-align: center;
}

body {
    padding-top: 1rem;
}

section {
    padding: 1rem;
}

canvas {
    border: 2px solid black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
